{% extends 'base.html' %}
{% block content %}
<div class="container">
  {% include 'includes/message.html' %}
  {% if product|length == 0 %}
  <h1 style="text-align: center; padding-top: 12rem;">Your Cart is empty</h1>
  <a href="{% url 'home' %}"><button type="button" class="btn btn-primary" style="margin-left: 45%;">Go to Home</button></a>
  {% else %}
  <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th></th>
            <th scope="col">Quantity</th>
            <th></th>
            <th scope="col">Prize</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          {% for product in product  %}
          <tr>
            <td>{{ product.product }}</td>
            <td><a href="{% url 'cart:cart-minus' id=product.product.product_id %}"class="btn btn-light">&minus;</a></td>
            <td>{{ product.quantity }}</td>
            <td><a href="{% url 'cart:cart-plus' id=product.product.product_id %}"class="btn btn-light">&plus;</a></td>
            <td>{{ product.total_amount }}</td>
            <td><img src="{{ product.product.image.url }}" style="width: 50px; height: 50px;" alt=""></td>
            <td><a href="{% url 'cart:cart-delete' id=product.product.product_id  %}" class="btn btn-danger">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
      {% endif %}
</div>
{% endblock content %}