{% extends 'base.html' %}
{% block content %}
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Prize</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          {% for product in  product %}
          <tr>
            <td>{{ product.product }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.product.prize }}</td>
            <td><img src="{{ product.product.image.url }}" style="width: 50px; height: 50px;" alt=""></td>
            <td><a href="{% url 'delete_book' book.id %}" class="btn btn-danger">Delete</a></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}