{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
        <h1>SignUp Page</h1>
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">First name</label>
            <input type="text" class="form-control"  aria-label="First name" name="first_name">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Last name</label>
            <input type="text" class="form-control" aria-label="Last name"name="last_name">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" aria-label="First name"name="email">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
            <input type="number" class="form-control"  aria-label="Last name"name="phone_number">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" aria-label="First name"name="password">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control"  aria-label="Last name"name="confirm_password">
          </div>
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Username</label>
          <input type="text" class="form-control"  aria-label="Last name"name="username">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </div>
      </form>
      {% include 'includes/message.html' %}
</div>
{% endblock content %}