{% extends 'base.html' %}
{% block content %}
    
<div class="container mt-5">
  {% include 'includes/message.html' %}
    <div class="row">
    {% for product in all_product %}
    <div class="card mx-3" style="width: 15rem; height: 18rem; cursor: pointer;">
      <a href="{% url 'product_detail_page' id=product.product_id %}">
        <img src="{{ product.image.url }}"  class="card-img-top mt-3" alt="{{ product.title }}" style="height: 8rem; object-fit: cover;" >
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">₹{{ product.prize }}</p>
          <a href="{% url 'cart:cart-add' id=product.product_id %}" class="btn btn-primary">Add to cart</a>
        </div> 
      </a>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}